.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  padding: $s-size $l-size;
  font-weight: 300;
  font-size: $font-size-large;
  line-height: 1;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--danger {
  background: $danger-red;
  margin-right: 2rem;

  @media (max-width: $desktop-breakpoint) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.two-items {
  display: flex;
  justify-content: space-between;
}