.form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  background: #ef9a9a;
  color: $danger-red;
  padding: 10px;
  border: 2px solid $danger-red;
}