.page-header {
  background: $light-gray;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  margin: 0;
  font-weight: 300;
  span {
    font-weight: 700;
  }
}

.page-header__note {
  display: block;
  font-style: italic;
  font-size: $font-size-small;
  padding: 10px;
  background: #d0f0c0;
  color: $success-green;
  border: 2px solid $success-green;
}